body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt{
  margin:0;
  padding:0;
  list-style: none;
  color:#666560;
  font-size: 14px;
  font-family: "微软雅黑"
}

img,input{
     outline-style: none;
     border:0 none;
     vertical-align: middle;
}

a,strong,em{
    font-weight: normal;
    font-style: normal; 
    text-decoration: none;
     color:#666560;
}

 .clearfix::before,.clearfix::after{
    content:"";
    display: block;
    clear:both;
    width: 0;
    height:0;
    line-height: 0;
 }
 .fl{
    float: left;
    
 }
 .fr{
    float: right;
    
 }

